<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="bootstrap.php"
    beStrictAboutOutputDuringTests="false"
    cacheDirectory="./runtime/.phpunit.cache"
    colors="true"
    executionOrder="depends,defects"
    failOnRisky="false"
    failOnWarning="false"
    stopOnFailure="false"
    stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Yii2-PSR-Bridge">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="yii2\extensions\psrbridge\tests\support\MockerExtension"/>
    </extensions>
</phpunit>
